.signup-container {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    margin-left: 30px;
    margin-right: 30px;
    gap: 8px;
    padding: 50px;
    background-color: #F2E5E5;
}

.signup-container input,
.signup-container button {
    background-color: #E8C4C4;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 12px;
    margin-bottom: 20px;
    color: black;
    box-sizing: border-box;
    /* Ensure padding and border are included in the element's total width and height */
    width: 100%;
    /* Make input and button full-width */
}

/* Additional styles for inputs */
.signup-container input:focus {
    outline: 1px solid grey;
}

/* Style for the logo */
.logo {
    display: flex;
    margin-top: 3px;
    color: #2B3A55;
    font-weight: bold;
    font-size: 35px;
    align-items: center;
}

/* Style for the title */
.titlea {
    color: #2B3A55;
    font-size: 20px;
    align-items: center;
    margin-bottom: 10px;
}

/* Style for the label */
.signup-container label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    /* Set the font size */
    margin-bottom: 10px;
    cursor: pointer;
}

/* Style for the image in the label */
.signup-container label img {
    width: 30px;
    /* Adjust this value to make the image smaller or larger */
    height: 30px;
    /* Ensure the image maintains a consistent size */
}

/* Style for the button */
.signup-container button {
    border-radius: 3px;
    /* Match the input border-radius */
    background-color: #CE7777;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

/* Button hover effect */
.signup-container button:hover {
    background-color: #b65b5b;
    /* A darker shade for hover effect */
}